.carousel {
	position: relative;
    min-width: 900px;
    max-width: 1323px;
    width: 48%;
    margin: 0 0 0 26px;
}

.carousel_item {
	display: none;
	height: 300px;
	background: dimgrey;
	padding: 1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #ffffff;
}
.carousel_item--selected {
	display: block;
	border-radius: 3%;
}

.carousel_nav {
	width: 100%;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

.carousel_pin {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.carousel_pin--selected {
	background: rgba(255, 255, 255, 0.7);
}

.carousel_btn {
	position: absolute;
	background: none;
	border: none;
	font-size: 4rem;
	top: 50%;
	height: 75%;
	z-index: 2;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, .5);
	cursor: pointer;
	border-radius: .25rem;
	padding: 0 .5rem;
	background-color: rgba(0, 0, 0, .1);
}
.carousel_btn:hover,
.carousel_btn:focus {
	color: white;
	background-color: rgba(0, 0, 0, .2);
}

.carousel_btn:focus {
	outline: 1px solid black;
}

.carousel_btn.prev {
	left: 1rem;
}

.carousel_btn.next {
	right: 1rem;
}