.carousel {
	position: relative;
}

.carousel_item {
	display: none;
	height: 300px;
	background: dimgrey;
	padding: 1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #ffffff;
}
.carousel_item--selected {
	display: block;
}

.carousel_nav {
	width: 100%;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

.carousel_btn {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.carousel_btn--selected {
		background: rgba(255, 255, 255, 0.7);
}