/*Official f1 colors are #FF1801 for red*/
/*#3c3731 carbon color */

* {
	padding: 0;
	margin: 0;
}

/*Root styles */

body {
	background: #000000;
}

h1 {
	background-color: #fae87d;
}
h2, p{
	color: #fffff6;
}
h3 {
	background-color: #40f8f1;
}
a:link {
  	text-decoration: none;
  	color: #fffff6;
  	font-family: Titillium Web;
	font-size: 20px;
}

a:visited {
  	text-decoration: none;
  	color: #fffff6;
    font-family: Titillium Web;
	font-size: 20px;
}

a:hover {
  	text-decoration: none;
  	color: #fffff6;
    font-family: Titillium Web;
	font-size: 20px;
}

a:active {
  	text-decoration: none;
  	color: #fffff6;
  	font-family: Titillium Web;
	font-size: 20px;
}

.wrapper {
	display: block;
}


/* Main Body Styles */
.container {
	min-width: 991px;
    max-width: 1323px;
    width: 96%;
    margin: auto;
}

#driverName {
	display: inline-block;
}
#driverImage {
	float: left;
	height: 140px;
	margin: 5px;
}

.driverInfo, .raceInfo {
	display: inline-block;
	font-size: 18px;
}

#raceName {
	display: inline-block;
}
#raceFlag {
	float: left;
	height: 140px;
	width: 250px;
	margin: 5px;
}
.contentShowcase {
	display: inline-block;
	position: relative;
	float: left;
	margin: auto;
	width: 48%;
	border: 5px solid #242424;
	border-radius: 10px;
}
.contentShowcase:nth-child(2) {
	float: right;
}
.contentShowcase > h2 {
	margin: 5px;
}

.showcase {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
}

.news-area {
	display: inline-block;
	background-color: #70bf40;
	clear: both;
}


.imgstyle {
	max-width: 700px;
	max-height: 500px;

}

/* Main Body styles */
.firstArticle {
	display: inline-block;
	position: relative;
	float: left;
	margin: auto;
	width: 57%;

}

.articleSideList {
	display: inline-block;
	position: relative;
	float: right;
	margin: auto;
	width: 37%;

}

.sideList1 {

}


/* Footer Styles */
.footerstyles {
	background-color: #0265c0;
}