/*Official f1 colors are #FF1801 for red*/

.site {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: auto 1fr 3fr;
  grid-template-areas:
  		"title title"
  		"news sidebar"
  		"footer footer"
}

.masthead {
	grid-area: title;
    background-color: #b46ae3;
}

.showcase {
	grid-area: sidebar;
	background-color: #f49018;
}

.news-area {
	grid-area: news;
	background-color: #70bf40;
}

.footerstyles {
	grid-area: footer;
	background-color: #0265c0;
}



.imgstyle {
	max-width: 500px;
	max-height: 500px;

}
.navstyles {
	grid-area: header;

}